<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.bookPage"/>
      <class name="testNG.Booking"/>
      <class name="testNG.login"/>
      <class name="testNG.loginPage"/>
      <class name="testNG.regPage"/>
  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
